/* familyStoryStyles.css 28th May 2023 
 Author David Kent (dk.davidkent@gmail.com)
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Comic Neue", cursive;
}
p {
  max-width: 65ch;
  /* margin: 1rem; */
  font-size: 1.2rem;
}
article {
  padding: 1rem;
}
/* hr = horizontal line (not touching the sides) */
hr {
    border: solid 1px;
    margin: 10px 80px;
}
figcaption {
  text-align: center;
  font-family: sans-serif;
}
blockquote {
  max-width: 65ch;
  padding: 1rem;
  font-size: 1.2rem;
  /* font-style: italic; */
  background-color: lightblue;
  border-radius: 8px;
  border: 2px solid rgb(106, 159, 177);
}
blockquote footer {
  font-size: 1rem;
  font-family: sans-serif;
}

q {
  font-style: italic;
}

.header {
  height: 17vh;
  background-image: url("./pictures/collage07.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(255, 136, 0);
}
.info-icon {
  width: 40px;
  position: fixed;
  top: 22%;
  right: 25px;
  cursor: pointer;
  z-index: 1;
}
.cover {
  position: absolute;
  width: 100vw;
  height: 0;
  background-color: rgb(17, 0, 17);
  z-index: 4;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
}
.header__title {
  color: rgb(250, 207, 48);
  font-size: 3rem;
  text-shadow: black 3px 3px;
}

/* =================Intro page only========================= */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  height: 83vh;
  overflow-y: auto;
  padding-bottom: 20px;
}

.hero__title {
  font-size: 2rem;
  margin: 10px;
  color: darkgreen;
}
.hero__description {
  margin: 20px;
}

.twin-pic {
  max-height: 60vh;
  max-width: 60%;
  object-fit: contain;
}

/* ======= Layout for all wide images ========= */
.full-width-figure {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  object-fit: contain;
}
 .pic-detail {
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
 } 

 /* ===== Layout for half width images ====== */
 .dual-image {
  width: 96%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
 }
 .half-width-figure {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 300px;
  margin: auto;
  object-fit: contain;
 }
 /* ======================================== */
.bathblitz-link {
  color: white;
  background-color: rgb(99, 99, 143);
  text-decoration: none;
  border-radius: 8px;
  margin: 50px;
  padding: 8px;
}

.tom-medal { 
  width: 70%;
  max-width: 400px;
}

/* =====================Sliding NAV panel================== */

.open-switch {
  cursor: pointer;
  font-size: 30px;
  color: rgb(250, 207, 48);
  background-color: #707070;
  text-shadow: black 2px 4px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 20px;
}

.menu {
  padding: 10px;
  font-size: 2rem;
  display: block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar {
  background-color: #111;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: -250px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
  /* border: 2px dashed red; */
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}
/* ===============Content area of each page================= */
.content {
  /* border: 2px dashed; */
  position: absolute;
  left: 0;
  right: 0;
}
.notes-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* position: absolute;
  left: 0;
  right: 0; */
}

.notes-header {
  height: 17vh;
  width: 100vw;
  background-image: linear-gradient(rgba(01,50,32,0.4),rgba(0,0,0,0.4)),
   url("./pictures/collage-notes01.jpg");
  background-size: cover;
  
  /* background-position: top center; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(255, 136, 0);
}
.notes__title {
font-family: 'Gochi Hand', cursive;
color: rgb(250, 207, 48);
  font-size: 4rem;
  text-shadow: black 3px 3px;
}
.censuses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 15px;
  max-width: 800px;
}
.census-family {
  margin-bottom: 5px;
  padding: 0 12px;
  border: 5px solid white;
  border-radius: 10px;
  text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    background-color: rgb(99, 99, 143);
    position: sticky;
    top: 15px;
}
.new-address {
    display: block;
    padding: 5px;
}
.censuses-table {
  margin: 10px;
  display: flex;
  justify-content:start;
  flex-wrap: wrap;
}
.additional-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: pink;
  border-radius: 8px;
  max-width: 800px;
  padding: 1rem;
}

.notes-fig {
  width: 90%;
  margin: auto;
  padding: 3%;
  background-color:white;
  max-width: 600px;
}
.notes-fig img {
  width: 100%;
}
.photos-table {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-color: blue;
  border-radius: 8px;
  margin: 10px 0;
  align-items: center;
  padding: 0 5px;
}
.photo-thumb {
  height: 40px;
  /* min-width: 10%; */
  margin: 1% 4%;
}

/* =====================PERHAPS THIS WILL BE USEFUL ELSEWHERE==== */
.open-census {
  cursor: pointer;
  color: white;
  background-color: blue;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}
/* ===============================NOT THIS BIT???========= */
.census-address {
    padding: 5px;
    color: white;
  background-color: darkgreen;
  text-decoration: none;
  border-radius: 5px;
}
/* On a (narrow) phone display, the census date switch
goes to a vertical census report, the switch to the
wide screen option is not seen */
/* .wide-census {
  display: none;
}
.narrow-census {
  display: inline;
} */
/* The sliding pannel shows the census report prints
with a top bar showing the details relevant to us */
.sliding-pannel {
  background-color: darkslategray;
  height: 100%;
  width: 0;
  display: flex;
  flex-direction:column;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  overflow-x: hidden;
  
  transition: 0.5s;
}
#imgSpace {
  width: 100%;
  height: 100%;
}
/* THIS IS THE NEW STUFF */
#gallery-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
/*  This is the class for the imgSpace box, when a photo <img> fits into it.
It does not allow scrolling, but the photo fills the box.  */
/* taller picture */
/* .photoSpace {
  display: flex;
  justify-content: center;
} */
/* wider picture */
/* .photoSpaceH {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
} */
/* This is the class for the imgSpace box when a census <img> fits into it. It allows
scrolling up and down (GOOD USE OF FLEXBOX!!) */
.censusSpace {
  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

/* #gallery-photo {
  display: block;
  padding: auto;
} */
/* The detail container holds the top bar and the
  return switch */
.detail-container {
  display: flex;

}
/* The detail bar shows the details in the census
report that are relevant to us */
.detail-bar {
  width: 100%;
  color: white;
  background-color: blue;
  padding-left: 10px;
}

/* This is the return switch for the sliding pannel */
.return {
  /* line-height: .2; */
  padding: 5px;
  font-size: 15px;
  background-color: rgb(209, 245, 46);
  color: darkgreen;
  cursor: pointer;
}

/* === For the wider screen, the sidebar is fixed === */
@media screen and (min-width: 1015px) {
  .open-switch {
    display: none;
  }
  .closebtn {
    display: none;
  }
  .header__title {
    font-size: 4rem;
  }

  .content {
    left: 250px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* height: 170vh; */
  }
}
/* for wide images on wide screens */
@media screen and (min-width: 800px) {
  .full-width-figure {
    max-width: 720px;
  }
}
/* .form-img {
  border: 2px dashed red;
width: 100%;  
height: fit-content;
}
@media screen and (orientation: portrait) {
  .censusSpace {
    overflow-x: auto;
    overflow-y: unset;
  }
  .form-img {
    rotate: 90deg;
    height: 100%;
    width:fit-content;
    
  }
} */

/* census display on a landscape screen */
  @media screen and (orientation: landscape) {
  .wide-census {
    display: inline;
  }
  .narrow-census {
    display: none;
  }
}
@media screen and (min-width: 600px) {
    .census-family {
        font-size: 1.5rem;
    }
}

 

@media (hover: hover) {
  .menu:hover {
    background-color: rgb(0, 82, 82);
    cursor: pointer;
  }
}
