/* familyStoryStyles.css 28th May 2023 Author David Kent (dk.davidkent@gmail.com)
*/
      .hor{border-top-style:solid;border-left-style:solid;border-color:#808080;
          height:1px;border-width:3px;position:absolute;z-index:-1;}

      .vert{border-top-style:solid;border-left-style:solid;border-color:#808080;
          width:1px;border-width:3px;position:absolute;z-index:-1;}
    
      div#mainPanel{margin-left:0px; margin-right:0px; margin-top:5%; margin-bottom:5%; 
      position: static; width:100%; height: 500px;border-style:dashed}
      
      button{height:60px;width:200px;border-radius:8px;background:#facd8a;font-size:14px;
          box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

       